body{
    background-image: url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?cs=srgb&dl=blur-book-stack-books-bookshelves-590493.jpg&fm=jpg);
    background-size: cover;
    text-align: center;
    align-items: center;
}
.Books{
    text-align: center;
    align-content: center;  
    }
a{
    color: white;
}
.ebooks{
    align-content: center;

}
.card{
    background-color: whitesmoke;
}